PORT=1606
API_VERSION=v1
TARGET_ENV=local # local, docker, or prod
NODE_ENV=development # development or production
LOG_LEVEL=info # error, warn, info, http, verbose, debug, silly
CORS_ORIGIN=* # Specific domains like https://admin.example.com in production
RATE_LIMIT_WINDOW_MS=900000 # 15 minutes
RATE_LIMIT_MAX=100 # Max requests per window
